.stApp{
    background:#020617;
    color:white;
}

.card,
.produto-card,
div[data-testid="stMetric"]{
    background:#0f172a !important;
    border:1px solid #1e293b !important;
}

.main-title,
.produto-title{
    color:white !important;
}

.main-subtitle,
.produto-meta{
    color:#cbd5e1 !important;
}

[data-testid="stDataFrame"]{
    background:#0f172a;
}